:root {
  --bg: #11111b;
  --fg: #f8f8f8;
  --fill: #2a2a2a;
  --fill-trans: #2a2a2aaf;
  --stroke: #333333;
}
button {
  padding: 5px 40px;
  border-radius: 111111px;
  border: 2px var(--stroke) solid;
  color: inherit;
  background: var(--fill);
  transition: 0.1s ease-in-out background;
  font-family: inherit;
}
button:hover {
  background: var(--fill-trans);
}
